Assignment 1/* linguist-vendored=false
Assignment 2/* linguist-vendored=false
Assignment 3/* linguist-vendored=false
Assignment 1/* linguist-documentation=false
Assignment 2/* linguist-documentation=false
Assignment 3/* linguist-documentation=false
